.top-hd {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid silver;
    padding-left: 250px;
    max-width: 2000px;
}

.sch-btn {
    background: white;
    border: 0px solid white;
}

.sch-box {
    background: white;
    height: 30px; width: 250px;
    border: 1px solid silver;
    border-radius: 15px;
    text-align: center;
    margin-top: -10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-bin-box {
    text-align: center;
    
}

.btm_head {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-right: 48px;
    font-family: 'NanumS', sans-serif;
}

.nav {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    margin-left:250px;
}

a { text-decoration:none; color: inherit;}
div {
    box-sizing: border-box;
}
.main_title h1 {
    margin-top: 50px;
    padding-top: 10px;
    margin-bottom: 50px;
}
.swiper {
    width: 100%;
    height: 700px;
  }
.swiper.img{
    width : 100%;
    height : 100%;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.circle-Box{
    display: flex;
    width: 100%;
    height : 400px;
    vertical-align: middle;
    justify-content: space-around;
    border-bottom : 1px solid silver;
    margin-bottom: 5px;
    max-width: 2000px;
    text-align: center;
    margin: 0 auto;
}
.main_title > h1{
    text-align: center;
    letter-spacing: 3px;
    vertical-align: middle;
    font-size: 30px;
}
.circle li>p {
    font-size:30px;
    text-align: center;
}
.circle li{
    width:300px;
    height:300px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 0 25px;
    font-family: 'NanumS', sans-serif;
}
.circle li div{
    width:300px;
    height:300px;
    margin:0 auto;
    background-color: black;
    border-radius: 50%;
    list-style: none;
    display: inline-block;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
    line-height: 300px;
}

.circle li div img{
    max-height:250px
}

.product-hbox {
    text-align: center;
    letter-spacing: 3px;
    vertical-align: middle;
    font-size: 30px;
    margin-bottom: 40px;
}

.infobox{
    width: 350px;
    height: 250px;
}

.infobox >.infobox {
    display : flex;
    
}

.product-mainbox .info{overflow:hidden; margin : 7px 0}
.product-mainbox .info p:first-child{float:left;}
.product-mainbox .info p:last-child{float:right;}
.product-mainbox .infobox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-mainbox {
    display : flex;
    justify-content: center;
    width: 100%;
    height : 300px;
    vertical-align: middle;
    margin-bottom: 150px;
    
}
.product-mainbox ul{
    font-size:15px;
    margin :40px;
}
.product-mainbox ul li {
    border: 1px solid silver;

} 
   
.product-mainbox a {
    font-size:20px;
}

.goodbackground{
    background:url("../img/Background.jfif");
    object-fit: cover;
    background-repeat : no-repeat;
    background-size : cover;
    width:100%;
    height:700px; 
    margin-bottom: 50px;
    color:white; 
}
.goodbackground .hbox{
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top : 150px;
}
.goodbackground h1{
    font-size:80px;
}
.goodbackground h3{
    font-size : 20px;
}
.goodbackground h2{
    font-size : 50px;
}
.advantage .ad-circle{
    width: 100px;;
    height: 100px;
    background-color:black;
    border-radius: 50%;
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    
}
.advantage li{margin : 0 200px;}
.advantage {
    color: rgb(185, 199, 126);
    width: 100%;
    height: 50px;
    object-fit: cover;
    text-align: center;
    margin: 0 auto;
    
}
.advantage ul{
    display: flex;
    justify-content: center;
}

.ad-info p{
    margin : 10px;
    vertical-align: middle;

}

.ad-info p{
    color: white;
    font-size: 25px;
}
.myButton3 {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#515353;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton3:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton3 :active {
	position:relative;
	top:1px;
}
.box_wrap{
    width:100%;
    height: 700px;
}
.bottom_box div{
    padding-top: 30px;
    margin-left :30px;
}
.bottom_box{
    padding-left: 250px;
    width: 100%;
    height: 200px;
    background-color: rgb(129, 26, 112);
    color: white;
    margin-bottom: 50px;
}
.bottom_box h3{
    margin-top: 5px;
    font-size : 30px;
}
.bottom_box p{
    font-size: 20px;
    margin: 5px 0 10px 0;
}
.inquary{
    width:100%;
    background-color: rgb(199, 196, 192);
    align-items: center;
    padding-left : 250px;
    
}
.inquary a{
    display: inline-block;
    line-height: 50px;
    padding : 0 30px;
    margin-right : 10px;
}

.bottom_info{
    width: 100%;
    height: 400px;
    display:flex;
    background-color: white;
    padding-left: 250px;
    color: rgb(92, 91, 89);
    justify-content: space-between;
}
.bottom_info .footer-l{
    width: 50%;
    height: 100%;
    margin-left:20px;
}
.bottom_info .footer-r{
    width: 30%;
    height: 100%;
    
}
.bottom_info .footer-l h3 {
    margin : 30px 0 30px 0;
    font-size: 30px;
}
.bottom_info .footer-l p{
    font-size: 15px;
    font-weight:normal;
}
.bottom_info .footer-r p{
    font-size: 15px;
    margin : 20px;
    font-weight:normal;
}
.login li{
    list-style: none;
}
.login-box h2{
    text-align: center;
    font-size : 40px;
    margin-bottom : 20px;
    
}
input[type='text']{width: 100%; height: 40px;}

input[type='password']{width: 100%; height: 40px;}

.login-box{
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin:30px auto;
    height: 800px;
}
.login-box button{width:100%; height: 50px; background: #000; color: #fff; border:0;}
.login-box li{margin-bottom: 10px;}

.login-box .opt-box {overflow: hidden; margin : 20px 0;}
.login-box .opt-box span{float: left;}
.login-box .opt-box span a{display : inline-block; padding: 0 10px;}
.login-box .opt-box span:first-child{float: left;}
.login-box .opt-box span:last-child{float: right;}

.login-box .join-btn { margin : 20px 0; }
.login-box .join-btn a{
    display: block; border: 1px solid #ccc; line-height: 50px; text-align: center;
    border-radius: 30px;}
.btn{
    width: 100%;
    height: 50px;
}
.opt-box{
    display: block;
}
