.top-hd {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid silver;
    max-width: 1400px;
    margin:0 auto;
}

.sch-btn {
    background: white;
    border: 0px solid white;
}

.sch-box {
    background: white;
    height: 30px; width: 250px;
    border: 1px solid silver;
    border-radius: 15px;
    text-align: center;
    margin-top: -10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-bin-box {
    text-align: center;
    
}

.btm_head {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    max-width: 1400px;
    margin:0 auto;
}

.nav li {
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-right: 48px;
    font-family: 'NanumS', sans-serif;
}

.nav {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
}

a { text-decoration:none; color: inherit;}
div {
    box-sizing: border-box;
}
.main_title h1 {
    margin-top: 50px;
    padding-top: 10px;
    margin-bottom: 50px;
}
.swiper {
    width: 100%;
    height: 700px;
  }
.swiper.img{
    width : 100%;
    height : 100%;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.circle-Box{
    display: flex;
    width: 100%;
    height : 400px;
    vertical-align: middle;
    justify-content: center;
    border-bottom : 1px solid silver;
    margin-bottom: 5px;
    max-width: 1400px;
    text-align: center;
    margin: 0 auto;
}
.main_title > h1{
    text-align: center;
    letter-spacing: 3px;
    vertical-align: middle;
    font-size: 30px;
}
.circle li>p {
    font-size:30px;
    text-align: center;
}
.circle li{
    width:300px;
    height:300px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 0 25px;
    font-family: 'NanumS', sans-serif;
}
.circle li div{
    width:300px;
    height:300px;
    margin:0 auto;
    background-color: black;
    border-radius: 50%;
    list-style: none;
    display: inline-block;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
    line-height: 300px;
}

.circle li div img{
    max-height:250px
}

.product-hbox {
    text-align: center;
    letter-spacing: 3px;
    vertical-align: middle;
    font-size: 30px;
    margin-bottom: 40px;
}

.infobox{
    width: 350px;
    height: 250px;
}

.infobox >.infobox {
    display : flex;
    
}

.product-mainbox .info{overflow:hidden; margin : 7px 0}
.product-mainbox .info p:first-child{float:left;}
.product-mainbox .info p:last-child{float:right;}
.product-mainbox .infobox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-mainbox {
    display : flex;
    justify-content: center;
    width: 100%;
    height : 300px;
    vertical-align: middle;
    margin-bottom: 150px;
    
}
.product-mainbox ul{
    font-size:15px;
    margin :40px;
}
.product-mainbox ul li {
    border: 1px solid silver;

} 
   
.product-mainbox a {
    font-size:20px;
}

.goodbackground{
    background:url("../img/Background.jfif");
    object-fit: cover;
    background-repeat : no-repeat;
    background-size : cover;
    width:100%;
    height:700px; 
    margin-bottom: 50px;
    color:white; 
}
.goodbackground .hbox{
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top : 150px;
}
.goodbackground h1{
    font-size:80px;
}
.goodbackground h3{
    font-size : 20px;
}
.goodbackground h2{
    font-size : 50px;
}
.advantage .ad-circle{
    width: 100px;;
    height: 100px;
    background-color:black;
    border-radius: 50%;
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    
}
.advantage li{margin : 0 200px;}
.advantage {
    color: rgb(185, 199, 126);
    width: 100%;
    height: 50px;
    object-fit: cover;
    text-align: center;
    margin: 0 auto;
    
}
.advantage ul{
    display: flex;
    justify-content: center;
}

.ad-info p{
    margin : 10px;
    vertical-align: middle;

}

.ad-info p{
    color: white;
    font-size: 25px;
}
.myButton3 {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#515353;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton3:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton3 :active {
	position:relative;
	top:1px;
}
.box_wrap{
    width:100%;
    height: 400px;
}
.bottom_box div{
    padding-top: 30px;
    margin-left :30px;
}
.bottom_box{
    width: 100%;
    height: 200px;
    background-color: rgb(129, 26, 112);
    color: white;
    margin-bottom: 50px;
}
.bottom_box div{
    
    max-width: 1400px;
    margin : 0 auto;
}
.bottom_box h3{
    margin-top: 5px;
    font-size : 30px;
}
.bottom_box p{
    font-size: 20px;
    margin: 5px 0 10px 0;
}
.inquary{
    width:100%;
    background-color: rgb(199, 196, 192);
    align-items: center;
    
}
.inquary div{
    max-width: 1400px;
    margin: 0 auto;
}
.inquary a{
    display: inline-block;
    line-height: 50px;
    padding : 0 30px;
    margin-right : 10px;
}

.bottom_info{
    width: 100%;
    height: 100%;
    display:flex;
    background-color: none;
    color: rgb(92, 91, 89);
    justify-content: space-between;
    max-width: 1400px;
    margin:0 auto;
}
.bottom_info .footer-l{
    width: 50%;
    height: 100%;
    margin-left:20px;
}
.bottom_info .footer-r{
    width: 30%;
    height: 100%;
    
}
.bottom_info .footer-l h3 {
    margin : 30px 0 30px 0;
    font-size: 30px;
}
.bottom_info .footer-l p{
    font-size: 15px;
    font-weight:normal;
}
.bottom_info .footer-r p{
    font-size: 15px;
    margin : 20px;
    font-weight:normal;
}
.login li{
    list-style: none;
}
.login-box h2{
    text-align: center;
    font-size : 40px;
    margin-bottom : 20px;
    
}
input[type='text']{width: 100%; height: 40px;}

input[type='password']{width: 100%; height: 40px;}

.login-box{
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin:30px auto;
    height: 800px;
}
.login-box button{width:100%; height: 50px; background: #000; color: #fff; border:0;}
.login-box li{margin-bottom: 10px;}

.login-box .opt-box {overflow: hidden; margin : 20px 0;}
.login-box .opt-box span{float: left;}
.login-box .opt-box span a{display : inline-block; padding: 0 10px;}
.login-box .opt-box span:first-child{float: left;}
.login-box .opt-box span:last-child{float: right;}

.login-box .join-btn { margin : 20px 0; }
.login-box .join-btn a{
    display: block; border: 1px solid #ccc; line-height: 50px; text-align: center;
    border-radius: 30px;}
.btn{
    width: 100%;
    height: 50px;
}
.opt-box{
    display: block;
}

.container{
    width:100%;
    height: 800px;
    max-width: 400px;
    margin:30px auto;
}
.container .member_tit{
    font-size: 30px;
    margin: 30px 0;
    text-align: left;
}
.container .join_filed{
    display: flex;
}
.join_filed div{
    width: 50%;
    font-size: 25px;
    background-color: black;
    color: white;
    text-align: center;
    border: 1px solid black;
}
.join_filed div:first-child{
    background-color: black;
    color: white;
}

.join_filed div:last-child{
    background-color: white;
    color: black;
}
.join_wrap .normal {
    color:white
}

.input_area{
    margin: 15px 0;
    height: 40px;
}
.chk_area{
    margin :15px 0;
}
.btn_join {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 168px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.tn_join:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.btn_join:active {
	position:relative;
	top:1px;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:0;
    text-align: center;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

.add_btn{
    display: flex;

}
.add_btn a{
    width: 130px;
    height:40px;
    line-height: 40px;
    vertical-align: middle;
    margin-left: 10px;
}

.layer{
    display:inline-block;
}
.pop-layer{
    
    width: 80%;
    height: 80%;
    background: white;
    position:absolute;
    top:50%;
    left:50%;
    z-index: 102;
    transform:translate(-50%, -50%);
    display:none;
}
.pop-layer .pop-title {
    width: 100%;
    height: 10%;
    background-color: rgb(56, 57, 58);
    color : white;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    line-height: 100px;
    position: relative;
}
.pop-layer .pop-title .pop-title-r{
    position:absolute;
    right: 20px;
}
.pop-layer .pop-title .pop-title-r button{
    border : none;
    background: none;
    color:white;
    vertical-align: middle;
    padding: 0 0 15px 0;
}
.dimlayer{
    width:100%;
    height: 100%;
    background:rgba(7, 7, 7, 0.5);
    z-index: 100;
    position:absolute;
    top:0%;
    left:0%;
    display:none;
}

.pop-layer .pop-main {
    width: 100%;
    height : 90%;
    background: rgb(233, 232, 230);
}

.pop-layer .text-box {
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    z-index: 103;
    background-color: rgb(255, 255, 255);
    color : balck;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    position: relative;
    overflow-y :scroll;
}
#layer.active .pop-layer{
    display: block;
}
#layer.active .dimlayer{
    display: block;
}


.m_menu{ position:absolute;    right: 0;    top: 0;    font-size:40px;    }
.nav{opacity: 0; transition: all 0.3s;}
.nav.active{opacity: 1;}

.notice .bbs {
    width: 100%;
    max-width: 1400px;
    height : 700px;
    border-top :2px solid rgb(0, 65, 43);
    margin : 0 auto;
    margin-top: 100px;
}

.notice .bbs li{
    display : flex;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(187, 186, 184);
    padding: 10px;
    margin : 20px 0 20px 0;
    height: 150px;
    line-height: 35px;
}

.notice .bbs .table1{
    width : 15%;
    font-weight: lighter;
}
.notice .bbs .table2{
    width : 70%;
    text-align: left;
}
.notice .bbs .subject {
    text-align: center;
}
.notice .bbs .table3{
    width : 15%;
    font-weight: lighter;
}  
.notice .bbs > ul > li:first-child{
    font-weight:bold;
    height: 70px;
    line-height: 30px;
}
.notice .bbs-paging{
    width : 100%;
    max-width: 1400px;
    height: 200px;
    margin: 0 auto;
}
.resigter{
    width : 100%;
    max-width: 1400px;
    height: 50px;
    margin: 0 auto;
}
.resigter a{
    height: 50px;
    width: 120px;
    text-align: center;
    line-height: 50px;
    float: right;
    font-size: 20px;
    color: white;
    background-color: black;
}
.notice .bbs-paging ul {
    display : flex;
    justify-content: center;
}
.notice .bbs-paging ul li{
    margin: 0 10px;
    font-size: 15px;
}

.notice .bbs li a{
    display: flex;
}

.notice .bbs li a img{
    margin-right : 10px;
    width:200px;
    height: 129px;
    border:1px solid silver;
}

.notice .bbs li a div p{
    font-size: 15px;
    line-height: 15px;
}

.notice-wrap .notice-box {
    width : 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 430px;
    border :  1px solid rgb(224, 222, 222);
    margin-bottom : 50px;
}

.notice-wrap .notice-box li{
    display:flex;
    margin: 10px 0;
}
.notice-wrap .notice-box li p{
    font-size : 15px;
    font-weight: bold;
    text-align: center;
    width: 20%;
    border: 1px solid rgb(224, 222, 222);
}
.notice-wrap .notice-box li textarea{
    width: 80%;
    height: 300px;
    border: 1px solid silver;
}
.notice-wrap .notice-box li .text{
    border: 1px solid silver;
}
.notice-wrap .notice-box li div {
    width:80%;
}
.notice-wrap .btn_area{
    width : 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: center;
}
.notice-wrap .btn_area button{
    width:20%;
    height: 50px;
    margin-left: 10px;
    border-radius: 20%;
    border : none;
}

body{
    background :rgb(233, 232, 232);
}

.notice01-box{
    width : 100%;
    max-width: 1200px;
    margin :0 auto;
    height : 600px;
}
.notice01-box .notice01-title{
    display :flex;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    font-size: 20px;
    height: 100px;
    line-height: 100px;
    justify-content: space-between;
   padding : 0 30px 30px 30px;
    margin-bottom:30px;
}

.notice01-box .notice01-content{
    width : 100%;
    height: 500px;
    border-bottom: 1px solid black;
    font-size : 15px;
}

.notice01-button{
    width : 100%;
    max-width: 1200px;
    margin :30px auto;
    height : 50px;
    justify-content: center;
    display: flex;
    
}
.notice01-button a{
    margin: 10px;
    font-size : 20px;
    border: 1px solid rgb(146, 144, 144);
    color : rgb(114, 112, 112);
    height: 50px;
}
.notice01-button .back{
    width:70%;
    text-align: center;
}
.notice01-button .button-l{
    width:70%;
    display:flex;
    justify-content: center;
}
.notice01-button .button-l a{
    width: 30%;
    padding: 10px;
    margin-left : 150px;
}
.notice01-button .button-r{
    width:20%;
    display:flex;
    justify-content: right;
}

.notice01-button .button-r a{
    padding: 10px;
}